#Main {
    position: absolute;
    height: calc(100vh);
    width: calc(100vw);
    z-index: 0;
}

#MainTopBar {
    height: 60px;
    width: calc(100vw);
    background-color: #2195EB;
}

#contacts {
    height: 30px;
    width: 30px;
    /*margin-left: 20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    position: absolute;
    top: 15px;
    left: 15px;
}

#TopBarCenterText {
    line-height: 30px;
    position: absolute;
    top: 15px;
    left: 60px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    width: calc(100vw - 120px);
}

#add {
    height: 30px;
    width: 30px;
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    position: absolute;
    top: 15px;
    right: 15px;
}

#AddBlock div:hover {
    background-color: #EDEFEE;
}

#MainSearchBar {
    width: calc(100vw);
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: #D8DCDF solid 1px;
}

#MainSearchJump {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
    margin: 5px auto 5px auto;
    background-color: #F7F8FA;
    width: calc(95vw);
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #A9A9A9;
    border-radius: 3px;
}

/*#SearchImg {*/
/*    height: 20px;*/
/*}*/

#MainMessageList {
    overflow: auto;
    width: calc(100vw);
    height: calc(100vh - 100px);
}

.MessageBlock {
    height: 60px;
    width: calc(100vw);
    background-color: #FFFFFF;
}

.MessageBlock:hover {
    background-color: #EDEFEE;
}

.portrait {
    /*float: left;*/
    height: 50px;
    margin-top: 5px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin: 10px;*/
    position: absolute;
    left: 5px;
}

.MessageLeft {
    /*float: left;*/
    width: 215px;
    height: 60px;
    position: absolute;
    left: 65px;
}

.MessageTittle {
    color: black;
    margin-top: 10px;
    line-height: 20px;
    font-size: 18px;
}

.MessageSummary {
    color: #828282;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 15px;
}

.MessageRight {
    /*float: left;*/
    width: 60px;
    height: 60px;
    /*margin-right: 0;*/
    position: absolute;
    right: 0;
}

.MessageDate {
    color: #828282;
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
}

.RedDot {
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 13px;
    width: 30px;
    line-height: 20px;
    padding-left: 5px;
    margin-top: 3px;
    position: absolute;
    right: 8px;
}

#FixBlock {
    height: 60px;
    width: calc(100vw);
    background-color: #FFFFFF;
}

#MainBottomBar {
    height: 50px;
    width: calc(100vw);
    background-color: #FEFEFE;
    border-top: #D8DCDF solid 1px;
    position: fixed;
    bottom: 0;
}

#BottomMessages {
    height: 40px;
    margin-top: 5px;
    position: absolute;
    left: 25%
}

#BottomSettings {
    height: 40px;
    margin-top: 5px;
    position: absolute;
    right: 25%
}

#MessagesTopBar {
    height: 60px;
    width: calc(100vw);
    background-color: #F5F6F8;
    position: absolute;
    top: 0;
}

.ReturnIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#TopUserName {
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}

.SearchIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 60px;
}

.FriendIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#MessagesArea {
    height: calc(100vh - 140px);
    width: calc(100vw);
    margin-top: 60px;
    background-color: #F2F3F5;
    overflow: auto;
}

.Message {
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.MessageTop {
    border-bottom: 1px solid #343a40;
    height: 28px;
    width: 100%;
}

.MessageName {
    /*position: absolute;*/
    padding-left: 3px;
    width: 45%;
    line-height: 25px;
    font-size: 18px;
}

.MessageTime {
    /*position: absolute;*/
    /*right: 0;*/
    color: #6c757d;
    margin-right: 13px;
    padding-right: 3px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    width: calc(100vw);
}

.MessageBottom {
    padding-left: 3px;
    padding-right: 3px;
    font-size: medium;
}

.BlueMessage {
    background-color: #007bff;
}

.OrangeMessage {
    background-color: #fd7e14;
}

.MessageContent {
    width: 100%;
    word-wrap: break-word;
}

#MessageEditor {
    height: 80px;
    width: calc(100vw);
    position: absolute;
    bottom: 0;
    /*margin-bottom: 0;*/
    background-color: #FAFAFA;
}

#EditorTop {
    height: 40px;
    width: calc(100vw);
    border-bottom: #A9A9A9 solid 1px;
}

#UserText {
    border: none;
    height: 35px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #FAFAFA;
    width: calc(100vw - 81px);
}

#SubmitForText {
    border: none;
    background-color: #FAFAFA;
    height: 40px;
    width: 80px;
    text-align: center;
    color: #0689F9;
    position: absolute;
    right: 0;
    font-size: 18px;
}

#GrayMask {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
    height: calc(100vh);
    width: calc(100vw);
    position: fixed;
    z-index: 1;
}

#AddBlock {
    position: fixed;
    top: 60px;
    right: 0;
    width: calc(50vw);
    height: calc(20vh);
    background-color: white;
    z-index: 5;
}

#AddBlock div {
    width: 100%;
    height: 25%;
    line-height: calc(5vh);
    text-align: center;
}

#AddFriendTopBar {
    height: 60px;
    width: calc(100vw);
    background-color: #F5F6F8;
}

#AddFriendText {
    line-height: 30px;
    position: absolute;
    top: 15px;
    left: 60px;
    text-align: center;
    font-size: 24px;
    width: calc(100vw - 120px);
}

#AddFriendBottom {
    background-color: #F5F6F8;
}

#FriendSearchInput {
    border: none;
    height: 40px;
    background-color: #FFFFFF;
    width: calc(100vw - 81px);
    margin-left: 0;
}

#FriendSearchSubmit {
    border: none;
    background-color: #FFFFFF;
    height: 40px;
    width: 80px;
    text-align: center;
    color: #0689F9;
    position: absolute;
    top: 60px;
    right: 0;
    font-size: 18px;
}

#FriendListArea {
    overflow: auto;
    height: calc(100vh - 100px);
    width: calc(100vw);
}

.AddFriendIcon {
    width: 60%;
    margin: 12px;
}

#UserInfWindow {
    width: calc(100vw);
    height: calc(100vh);
}

#Large-Portrait {
    width: calc(100vw);
}

#UserInfReturn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#UserInfList {
    position: absolute;
    bottom: 0;
    height: calc(100vh - 80vw);
    width: calc(100vw);
    background-color: #F5F6F8;
}

.Inf-List-Item {
    width: calc(100vw);
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: #CCCCCC 1px solid;
    padding-left: 5px;
}

.Inf-Item-Top {
    color: #6c757d;
    font-size: 15px;
    line-height: 30px;
    height: 25px;
    width: 100%;
    margin-top: 5px;
}

.Inf-Item-Bottom {
    font-size: 20px;
    line-height: 30px;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
}

#Add-Friend-Button {
    background-color: #007bff;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 60px;
    text-align: center;
    font-size: large;
    color: white;
    font-weight: bold;
}

#SendRequestWindow {
    width: calc(100vw);
    height: calc(100vh);
    background-color: #F5F6F8;
}

#SendRequestTopBar {
    height: 60px;
    width: calc(100vw);
    background-color: #F5F6F8;
}

#IdentifyText {
    line-height: 30px;
    position: absolute;
    top: 15px;
    left: 60px;
    text-align: center;
    font-size: 24px;
    width: calc(100vw - 120px);
}

#SendRequest {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#SendRequestWindow textarea {
    width: calc(100vw);
    height: 200px;
    border: none;
}

#AddSuccessWindow {
    width: calc(100vw);
    height: calc(100vh);
    background-color: #F5F6F8;
}

#AddSuccessWindow img{
    width: calc(100vw);
}

#AddSuccessWindow div{
    width: calc(100vw);
    line-height: 24px;
    font-size: 24px;
    text-align: center;
}

.CommonTopBar {
    height: 60px;
    width: calc(100vw);
    background-color: #F5F6F8;
}

.CommonTopBarCenterText {
    line-height: 30px;
    position: absolute;
    top: 15px;
    left: 60px;
    text-align: center;
    font-size: 24px;
    width: calc(100vw - 120px);
}

.CommonWindow {
    width: calc(100vw);
    height: calc(100vh);
    background-color: #F5F6F8;
}

#RequestArea {
    overflow: auto;
    height: calc(100vh - 60px);
    width: calc(100vw);
}

.RequestBlock {
    height: 100px;
    width: calc(100vw);
    background-color: white;
    position: relative;
}

.RequestType {
    height: 15px;
    width: calc(100vw);
    line-height: 15px;
    font-size: 10px;
    color: #828282;
    padding-left: 10px;
}

.RequestContent {
    width: calc(100vw);
    height: 80px;
    position: relative;
}

.portrait-70px {
    height: 70px;
    width: 70px;
    left: 10px;
    top: 10px;
    position: absolute;
}

.RequestRight {
    width: calc(100vw - 90px);
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 10px;
}

.Requester {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: large;
}

.RequestText {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.AgreeArea {
    position: absolute;
    height: 80px;
    right: 0;
    top: 0;
    padding-top: 25px;
    padding-right: 10px;
}

.AgreeButton {
}

.AgreedText {
    color: #828282;
}